<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="other/chat.css">

</head>
<body>


<button class="open-button" onclick="openForm()">Chat</button>

<div class="chat-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Chat</h1>

    <textarea placeholder="Type message.." name="history" required></textarea>
    <textarea placeholder="Enter message" name="msg" required></textarea>
    

    <button type="submit" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
		<script src="js/chat.js"></script>

</body>
</html>
